@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --max-width: 144rem;
  --main-width: 50rem;

  --font-family: "Josefin Sans", sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-size-18: 1.8rem;

  --active-blue: hsl(220, 98%, 61%);
  --color-white: #fff;

  --bg-color-light: hsl(0, 0%, 98%);
  --bg-color-dark: hsl(235, 21%, 11%);

  --text-color-light: hsl(235, 19%, 35%);
  --text-color-complete-light: hsl(233, 11%, 84%);
  --text-color-action-light: hsl(234, 39%, 85%);
  --text-hover-action-light: hsl(236, 9%, 61%);

  --color-dark: hsl(235, 24%, 19%);
  --text-color-dark: hsl(237, 14%, 26%);

  --checked-icon-bg: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

*:where(
  :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 62.5%;
  overflow-x: hidden;

  @media (max-width: 900px) {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-18);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-light);
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* Firefox: solve issue where nested ordered lists continue numbering from parent (https://bugzilla.mozilla.org/show_bug.cgi?id=1881517) */
ol {
  counter-reset: revert;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

.main--header {
  color: var(--color-white);
  font-weight: var(--font-weight-700);
  letter-spacing: 1.5rem;
  font-size: 3.6rem;
}

.container {
  padding: 9rem 0;
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-light);
  background-image: url("/assets/bg-desktop-light.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: var(--main-width);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 400px) {
    --main-width: 350px;
  }
}

.container:has(.main.--isDark) {
  background-color: var(--bg-color-dark);
  background-image: url("/assets/bg-desktop-dark.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
}

.main.--isDark .TaskInput__input {
  background-color: var(--color-dark);
  color: hsl(234, 39%, 85%);

  &::placeholder {
    color: hsl(236, 9%, 66%);
  }
}

.activeTask {
  pointer-events: none;
}

.doneTask {
  pointer-events: none;
}

.main.--isDark .TaskList {
  background-color: var(--color-dark);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &__taskContent {
    border-bottom: 1px solid var(--text-color-dark);

    &.--isCompleted {
      .TaskList__value {
        color: hsl(235, 16%, 43%);
        text-decoration: line-through;
      }

      .TaskList__checkboxImg path {
        stroke: var(--color-white);
      }
    }
  }

  &__checkbox {
    border: 1px solid hsl(235, 16%, 43%);
  }

  &__checkboxImg path {
    stroke: var(--color-dark);
  }

  &__value {
    color: hsl(234, 39%, 85%);
  }

  &__notCompleted {
    color: hsl(235, 16%, 43%);
  }
}

.main.--isDark .button:not(.--isActive) {
  transition: 0.3s;
  color: hsl(235, 16%, 43%);

  &:hover {
    color: hsl(234, 39%, 85%);
  }
}

.TaskInput {
  &__input {
    background-color: var(--bg-color-light);
    width: 100%;
    padding: 2rem 0;
    padding-left: 2rem;
    border-radius: 8px;

    &::placeholder {
      color: hsl(236, 9%, 66%);
    }
  }
}

.TaskList {
  margin-top: -2rem;
  background-color: var(--color-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  overflow: hidden;

  &__checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 1px solid var(--text-color-complete-light);
    z-index: 0;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 1px;
      border-radius: 50%;
      background: linear-gradient(
        135deg,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );

      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;

      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  &__taskContent {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1.8rem 2rem;
    border-bottom: 1px solid var(--text-color-complete-light);

    &:hover .TaskList__deleteIcon {
      display: inline-block;
    }

    &:hover .TaskList__checkbox::before {
      opacity: 1;
    }
  }

  &__taskContent {
    &.--isCompleted {
      .TaskList__value {
        color: var(--text-color-action-light);
        text-decoration: line-through;
      }
      .TaskList__checkbox {
        border: none;
        background: var(--checked-icon-bg);
      }
    }
  }

  &__value {
    color: var(--text-color-light);
  }

  &__taskDelete {
    margin-left: auto;
  }

  &__deleteIcon {
    display: none;
  }

  &__actionButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 2rem;
  }

  &__notCompleted {
    font-size: 1.4rem;
    color: hsl(236, 9%, 66%);
  }

  &__navigationButtons {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: hsl(236, 9%, 66%);
  }

  &__clear {
    font-size: 1.6rem;
    color: hsl(236, 9%, 66%);
  }
}

.button {
  font-weight: 700;
}

.button.TaskList__clear {
  font-weight: 400;
}

.selectAll.--isActive {
  color: var(--active-blue);
}

.selectActive.--isActive {
  color: var(--active-blue);
}
.selectCompleted.--isActive {
  color: var(--active-blue);
}

.button:not(.--isActive) {
  transition: 0.3s;

  &:hover {
    color: var(--text-color-light);
  }
}
